/* Импорт шрифта с Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  /* border: 1px #c0c4ff solid; */
}

body {
  color: #2d2d2d;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
}

button {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #2d2d2d;

  border: none;
  border-radius: 10px;

  padding: 10px 20px;
}

button:hover {
  filter: brightness(105%);
  cursor: pointer;
}

textarea {
  outline: none;
}
textarea:focus {
  /* border: 4px solid #e4d6ff; */
  background-color: #f3f3f3;
}

input {
  outline: none;
}

input:focus {
  /* border: 4px solid #e4d6ff; */
  background-color: #f3f3f3;
}

.test-container {
}
.question {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 800px;
  height: 575px;

  margin: auto;
  margin-bottom: 25px;
  margin-top: 25px;

  background-color: #fff;
  border: 2px solid #ececec;
  border-radius: 40px;
}
.question-title {
  align-self: self-start;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 50px;
}
.question-description {
  height: 150px;
  width: 90%;

  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  border-radius: 15px;
  border: none;
  background-color: #ececec;
  resize: none;
  padding: 15px;
}
.question-text {
  height: 150px;
  width: 90%;

  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  border-radius: 15px;
  border: none;
  background-color: #ececec;
  resize: none;
  padding: 15px;
}
.question-answer {
  height: 50px;
  width: 90%;

  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  border-radius: 15px;
  border: none;
  background-color: #ececec;
  padding: 15px;
}

.question-answer::placeholder {
}

/* Кнопки управления */
.delete-button {
  background-color: #ffdada;
  width: 20%;
  margin-top: 15px;
  margin-bottom: 30px;
  align-self: self-end;
  margin-right: 40px;
}
#add-question-button {
  background-color: #e3d6ff;
  width: 30%;
  margin-right: 10px;
}
#save-question-button {
  background-color: #e3d6ff;
  width: 30%;
  margin-left: 10px;
}

.button-panel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 800px;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 100px;
}
